<footer class="footer">
  <div class="g-container">
    <a href="https://www.lojaskd.com.br" target="_blank" class="logo icon-logo" title="Lojas KD">Lojas KD</a>
    <a href="https://www.lojaskd.com.br" target="_blank" class="u-block" title="LojasKD.com.br">LojasKD.com.br</a>
  </div>
</footer>