<header class="header">
  <div class="g-container">
    <div class="group-title u-left">
      <h1>Acompanhar pedido</h1>
      <small class="site">LojasKD.com.br</small>
    </div>

    <div class="u-right">
      <ul class="nav">
        <li>
          <a href="/login.html" class="external">Login/Cadastro <i class="icon-link"></i></a>
          <a href="https://www.lojaskd.com.br/atendimento" target="_blank" class="external">Atendimento <i class="icon-link"></i></a>
          <a href="https://www.lojaskd.com.br/ambientes-e-moveis-em-promocao/" target="_blank" class="external">Promoções <i class="icon-link"></i></a>
          <a href="#">Sair</a>
        </li>
      </ul>
    </div>
  </div>
</header>