$font-size-base: 14px !default;

$color-base         : #757575;
$color-blue         : #0288d1;
$color-blue-light   : #039be5;
$color-green        : #4caf50;
$color-yellow       : #ffd740;
$color-red          : #e53935;

$color-gray-light   : #bdbdbd;
$color-gray-lighter : #ebebeb;

//Espaçamentos padrão
$gutter: 15px;